.news-wrapper {
  padding-top: 140px;
  padding-bottom: 50px;
}
.news-content-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.news-container {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-inline: 20px;
}
.news-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.news-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.news-container #tradingview_widget_wrapper{
width: 1280px;
max-width: 100%;
}
@media screen and (min-width: 300px) {
  .news-title {
    font-size: 34px;
  }
  .news-container {
    max-width: 280px;
  }
}
@media screen and (min-width: 350px) {
  .news-title {
    font-size: 36px;
  }
  .news-container {
    max-width: 330px;
  }
}
@media screen and (min-width: 576px) {
  .news-title {
    font-size: 40px;
  }
  .news-container {
    max-width: 476px;
    padding-inline: 40px;
  }

}
@media screen and (min-width: 828px) {
  .news-container {
    max-width: 100%;
    gap: 2.5rem;
  }
  .news-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .news-title {
    font-size: 42px;
  }
  .news-content-container {
    max-width: 1280px;
    margin-inline: auto;
    gap: 4rem;
  }
}
