* {
  margin: 0;
  box-sizing: border-box;
}

/* ============== GLOBAL CSS ============== */
body {
  height: 100vh;
}
iframe {
  margin: 0 auto !important;
  transform: translateX(-10px);
}

/* ============== SIGN IN ============== */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.signin-image {
  width: 180px;
}

