.trade-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.trade-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trade-title, .available-credit{
  font-weight: bold;
}
.trade-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trade-instruction, .buy-title{
  font-weight: bold;
  display: flex;
  align-items: center;
}
.quantity-selection-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
}


.quantity-selection-container input, .price-selection-container input{
  display: none;
}
#quantity-btn:checked ~ #quantity-input{
background-color: white;
}
.quantity-selection-container label, .price-selection-container label{
  background-color: rgb(97, 97, 97);
  cursor: pointer;
  color: black;
  flex: 1;
  padding: 8px 8px;
  border-radius: 2.5px;
  font-size: 14px;
}
.quantity-selection-container input:checked + label{
  background-color: white;
}
.trade-col.quantity-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.available-credit-description{
  font-weight: normal;
  font-size: 14px;
}
.quantity-input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
}
.quantity-input-container input:focus{
  outline: none !important;
}
.quantity-input-container input.buy-input-active:focus, .price-input-container input:focus{
  border: 2px solid var(--first-color);
  
}
.quantity-input-container input, .price-input-container input{
  width: 50%;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(116, 116, 116);
  padding: 8px 8px;
  border-radius: 2.5px;
  font-size: 12px;
}
.trade-search-title {
  font-size: 0.9rem;
  font-weight: 600;
}
.trade-search-subtitle {
  font-size: 0.65rem;
}
.instruction-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price-selection-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
}
.price-input-container{
  display: flex;

}
.price-input-container input{
  flex: 1;
}
.price-selection-container input:checked + label{
  background-color: white;
}