.assets-container{
  padding-top: 120px;
  padding-inline: 15px;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.assets-title{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.assets-subcontainer{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
}
.crypto-container{
  width: 250px;
}

@media screen and (min-width: 300px) {}
@media screen and (min-width: 350px) {}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 828px) {}
@media screen and (min-width: 992px) {} 