.demo-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 1280px;
}
.demo-title{
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width: 300px) {
}
@media screen and (min-width: 350px) {
}
@media screen and (min-width: 576px) {
  .demo-title{
    font-size: 36px;
  }
}
@media screen and (min-width: 828px) {
  .demo-wrapper {
    margin-top: 105px;
  }
  .demo-title{
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
}
