.feature-container{
  padding-top: 130px;
  display: flex;
  flex-direction: column;
}
.feature-title{
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
  padding-inline: 18px;
}