.feature-container {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}
.feature-title {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
  padding-inline: 26px;
}
.feature {
  gap: 0.6rem;
}
.feature-content {
  padding-inline: 26px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
}
.feature i {
  font-size: 50px;
  color: var(--first-color);
}
.content-title {
  font-size: 18px;
}
.content-description {
  text-align: center;
  font-size: 14px;
  color: var(--dark-subtext);
}
@media screen and (min-width: 300px) {
  .feature i {
    font-size: 55px;
  }
  .feature-title, .feature-content{
    padding-inline: 36px;
  }
}

@media screen and (min-width: 576px) {
  .feature-title{
    font-size: 36px;
  }
  .feature-title, .feature-content{
    max-width: 720px;
    margin-inline: auto;
  }
  .feature-content{
    gap: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .feature-title{
    font-size: 46px;
  }
  .feature-title, .feature-content{
    max-width: 1280px;
    margin-inline: auto;
  }
  .feature-content{
    flex-direction: row;
  }
}