/* ============== INTRO PAGE ============== */
.intro-content-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding-top:135px;
}
.intro-form-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	padding-inline: 20px;
padding-bottom: 80px;
}
.intro-image {
	width: 265px;
	height: auto;
}
.intro-title {
	color: var(--first-color);
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 42px;
}
.intro-subtitle {
	font-size: 16px;
	margin-bottom: 0.6rem;
}
.dark .intro-main-btn  {
	overflow: hidden;
	position: relative;
	width: 190px;
	padding: 12px 40px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 1rem;
}

.dark .intro-main-btn::after {
	animation: sheen 2s infinite forwards;
	background: linear-gradient(
		180deg,
		hsla(21, 63%, 73%, 0),
		hsla(0, 0%, 100%, 0.5) 50%,
		hsla(21, 63%, 73%, 0)
	);
	bottom: -50%;
	content: '';
	left: -50%;
	position: absolute;
	right: -50%;
	top: -50%;
	transform: rotate(60deg) translate(-3em, 7.5em);
}
@keyframes sheen {
	to {
		transform: rotate(60deg) translate(1em, -9em);
	}
}
.intro-form-container a {
	width: fit-content;
}
.intro-signup-btn {
	background-color: var(--first-color);
	color: white;
	border: none;
	transition: 0.4s;
}
.intro-signup-btn:hover {
	background-color: rgb(0, 0, 0);
	color: #ffffff;
}

@media screen and (min-width: 300px) {}
@media screen and (min-width: 350px) {}
@media screen and (min-width: 828px) {.intro-content-container {
	flex-direction: row;
	gap: 4rem;
}
.intro-image {
	width: 550px;
}
.intro-title {
	font-size: 2.3rem;
}
.company-name {
	font-size: 2.5rem;
}
.intro-subtitle {
	font-size: 1.15rem;
}
.intro-form-container {
	gap: 1.2rem;
}
.intro-form-container button {
	width: 270px;
	padding: 10px 0;
	font-size: 1.2rem;
}}
@media screen and (min-width: 992px) {}