.news-wrapper {
  padding-top: 130px;
}
.news-content-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.news-container{
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-inline: 20px;
}
.news-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.news-title{
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}
@media screen and (min-width: 300px) {}
@media screen and (min-width: 350px) {}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 828px) {}
@media screen and (min-width: 992px) {}