footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	left: 0;
	padding: 2rem 20px;
}
footer a {
	color: black;
}
.footer-item-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-item-container span{
	font-size: 28px;
}