footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	width: 100vw;
	position: fixed;
	padding: 1.5rem 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
}
footer a {
	color: black;
}
.footer-item-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer-item-container span {
	font-size: 28px;
}
@media screen and (min-width: 858px) {
	footer {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
}
