/* ============== NAV BAR ============== */
.navBar {
	background: var(--dark-container);
	height: 80px;
	width: 100%;
	box-shadow: 0px 1px 0px rgb(255 255 255 / 10%);
	position: fixed;
	z-index: var(--z-modal);
}
.nav-subcontainer {
	display: flex;
	margin-inline: auto;
	align-items: center;
	max-width: 1124px;
	width: 100%;
	position: relative;
	justify-content: space-between;
	padding-inline: 30px;
	z-index: 2;
	background-color: var(--dark-container);
}
.logo {
	width: 140px;
	transform: translateY(1px);
	padding-left: 1rem;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: var(--dark-text);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: 0.2s;
}
nav a:hover {
	color: var(--first-color);
}
.menu-symbol {
	color: whtie;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}
#intro-check {
	display: none;
}
@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
	}
}
@media (max-width: 827px) {
	.navBar{
		height: 70px;
	}
	.nav-subcontainer {
		padding-inline: 0;
	}
	.checkbtn {
		display: block;
		line-height: 70px;
	}

	ul {
		position: fixed;
		padding-top: 70px;
		width: 100%;
		height: 100vh;
		background: var(--dark-container);
		top: -100%;
		text-align: center;
		transition: opacity .6s cubic-bezier(.67,0,.175,1),top .6s cubic-bezier(.47,0,.175,1),visibility .6s cubic-bezier(.47,0,.175,1);
		z-index: -1;
		opacity: 0;
	}
	label.logo {
		padding: 0 15px;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
		color: white;
	}
	nav a:hover,
	nav a.active {
		background: none;
		color: var(--first-color);
	}
	#intro-check:checked ~ ul {
		top: 0;
		opacity: 1;
	}
	
}