/* ============== NAV BAR ============== */
nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 4px #999;
  position: fixed;
}
label.logo {
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.5s;
}
a:hover {
  color: #1f262e;
}
.menu-symbol {
  color: black;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1c2733;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  label.logo {
    padding: 0 15px;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  a:hover,
  a.active {
    background: none;
    color: #219fff;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
