

.news-card-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark-alternative-container);
  border-radius: 12px;
  overflow: hidden;
}
.news-card-image{
  width: 100%;
}
.news-card-content{
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.news-card-title{
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-card-description, .news-card-time, .news-card-source{
  font-size: 14px;
}
.news-card-source{
  color: var(--first-color);
}

@media screen and (min-width: 300px) {
  .news-card-title{
    font-size: 22px;
  }
  .news-card-description, .news-card-time, .news-card-source{
    font-size: 16px;
  }
}
@media screen and (min-width: 350px) {
  .news-card-title{
    font-size: 26px;
  }
  .news-card-description, .news-card-time, .news-card-source{
    font-size: 17px;
  }
}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 828px) {}
@media screen and (min-width: 992px) {} 