/* ============== SIGN OUT CSS ============== */
#sign-out-form {
	/* display: none; */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(25, 36, 42, 0.615);
	width: 100vw;
	height: 100vh;
	place-items: center;
	z-index: 10;
}
.sign-out-inner {
	background-color: #f3f3f3;
	padding: 1.5rem 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	text-align: center;
	max-width: 240px;
	align-items: center;
}
.sign-out-inner h4 {
	font-size: 1.25rem;
}
.sign-out-action-container {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.7rem;
	width: 90%;
}
.sign-out-action-container a {
	color: white;
}
.sign-out-action-container button {
	padding: 7px 15px;
	font-size: 0.9rem;
	border: none;
	color: white;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.4s all ease;
}
.cancel-btn {
	background-color: #797f88;
}
.real-btn-sign-out {
	background-color: #ff697b;
}
.real-btn-sign-out:hover {
	background-color: #d23c3c;
	color: white;
}
.cancel-btn:hover {
	background-color: #626367;
}





/* ============== ACCOUNT NAV CSS ============== */
.account-navigation-bar div {
	cursor: pointer;
	border-top: 1px solid rgb(100, 100, 100);
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.account-wrapper{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.accout-logout-btn{
	cursor: pointer;
	padding: 8px 24px;
	background-color: var(--first-color);
	width: fit-content;
}
.account-navigation-bar div:first-child{
	border-top: none;
}
#account-nav{
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

#account-nav::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.account-main-content {
	display: none;
}
.account-main-content.account-active {
	display: block;
}
.account-wrapper.disable, .account-wrapper.disable ~ .accout-logout-btn {
	display: none;
}
.setting-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.setting-select-box{
	width: 130px;
	font-size: 12px;
}
.setting-select-box .selected{
	padding: 12px 16px;

}
.setting-select-box .options-container.active ~ .selected{
	margin-bottom: 0;
}
.select-box .options-container.font-size-selector{
	position: absolute;
	margin-top: 50px;
	z-index: 1000000;
}
#account-main-content{
	display: none;
	flex-direction: column;
	gap: 1.2rem;
}
#account-main-content.account-active{
	display: flex;
}
.setting-row-title{
	padding-top: 8px;
}
.setting-select-box .selected::after{
	width: 28px;
	top: 6px;
	transition: .4s all;
}
.setting-select-box.select-box .options-container.active + .selected::after{
	top: -6px;
}
#setting-back-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5rem;
	cursor: pointer;
	width: fit-content;
	font-size: 12px;
}
#setting-back-button i{ 
 font-size: 14px;
}
.appearance-col{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.help-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.help-title{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
.help-subtitle, .help-content-description, .help-note{
	font-size: 14px;
	color:var(--dark-subtext) ;
}
.help-content{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.help-content-wrapper{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.help-content-title{
	font-size: 18px;
	font-weight: bold;
}

@media screen and (min-width: 300px) {
}
@media screen and (min-width: 350px) {
}
@media screen and (min-width: 828px) {
	.account-main-content {
		display: block;
	}
	.help-title{
		font-size: 32px;
	}
	.help-subtitle, .help-content-description, .help-note{
		font-size: 16px;
	}
	.help-container{
		gap: 1.5rem;
	}
	.help-content-title{
		font-size: 20px;
	}

}
@media screen and (min-width: 992px) {
	.help-title{
		font-size: 34px;
	}
	.help-subtitle, .help-content-description, .help-note{
		font-size: 18px;
	}
	.help-container{
		gap: 1.7rem;
	}
	.help-content-title{
		font-size: 22px;
	}
}
