.portfolio-section {
  gap: 2rem;
}

.portfolio-content-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.portfolio-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.portfolio-content {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-button-background);
  border-radius: 3px;
  gap: 0.5rem;
  padding: 10px 16px;
}
.portfolio-data-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.portfolio-data{
  font-size: 18px;
}
